* {
    box-sizing: border-box;
    position: relative;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: #EDEFF2;
}

a {
    text-decoration: none;
    color: #2ca02c;
}

.container {
    margin: 0 auto;
    padding: 0 25px;
    width: 1200px;
    max-width: 90%;
    min-height: 100%;
    background-color: #FFFFFF;
}

.container .content {
    display: flex;
}

#header {
    padding: 20px 0px;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    display: block;
}

.container .content > * {
    flex: 1;
}

.container .content .main-content {
    flex: 3;
}

.news-list .list-item {
    padding-bottom: 30px;
}

.news-list .list-item .description {
    padding-top: 10px;
}

#sidebar .widget {
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-bottom: 30px;
}

@media(max-width: 800px) {
    .container .content {
        display: block;
    }
}